/* Globales */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 2.5rem;
}
.seccion-oscura{
    color: white;
    background-color: #1b1b32 ;
}

.seccion-titulo{
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Roboto', cursive;
}

.seccion-texto{
    font-size: 1.2rem;
}
/* Navbar */

.navbar{
    padding: 2rem;
    background-color: f5f6f7;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}



/* Hero */
.hero{
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;

}
.hero-principal{
    padding: 3rem;
}

.hero-principal h1{
    font-family: 'Roboto';
    font-weight: 700;
}

.hero-principal h2{
    font-size: 1.5rem;
    color: #636060;
}

.hero-img-principal{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}

/* sobre mi */


.sobre-mi{
    padding: 10px;
}

.sobre-mi .contenedor{
    max-width: 600px;
    text-align: center;

}
/* Diseño responsivo */
@media screen and (max-width: 767px) {
    .navbar-brand{
        display: none;
    }
    
}

@media screen and (min-width: 700px) {
    .hero-inferior-img{
        max-width: 600px;
    }
   
}